body {
	font-family: Arial;
	background-color: #FFFFFF;
	}
.tbl_Calendar {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;	
	}
.Calendar_Clock {
	font-family: "monospace"; font-size: x-large; font-weight: bold;
	}
.calendar_footer {
	font-weight: bold;
	background-color: #CCFFFF;
	}
.calendar_foor_error {
	font-weight: bold;
	background-color: #FF0000;
	}
.tbl_timetable {
	border: 1px solid black;
	}
.td_center {
	text-align:center;
	}
.bell_on {		
	background: url(bell-on.png) center;
	}
.bell_off {
	background: url(bell-off.png) center;
	}	
.typeTimetable {
	background: url(weekTimetable.png) center;
	}		
.progress {
  background-color: #f3f3f3;  
  height: 18px;
  border-radius: 9px;
  width: 150em;
  border: 0px solid #0063a6;
  background: #fff;
	}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
}	